In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Importing necessary libraries
from preprocessing import preprocess_data

In [2]:
# Load the dataset
train_data = pd.read_csv('../data/raw/train.csv')
test_data = pd.read_csv('../data/raw/test.csv')

In [3]:
train_data.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [4]:
# Preprocess training and test datasets
print("treating training set")
train_data = preprocess_data(train_data)

print("treating test set")
test_data = preprocess_data(test_data)

treating training set

/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fuel_type'].fillna(fuel_type_mode, inplace=True)
/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['accident'].fillna('None reported', inplace=True)
/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['clean_title'].fillna(clean_title_mode, inplace=True)
/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:62: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(df['horsepower'].median(), inplace=True)
/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:63: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['engine_size'].fillna(df['engine_size'].median(), inplace=True)
/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:64: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['num_cylinders'].fillna(df['num_cylinders'].median(), inplace=True)
/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:79: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['num_speeds'].fillna(df['num_speeds'].median(), inplace=True)

treating test set

/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fuel_type'].fillna(fuel_type_mode, inplace=True)
/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['accident'].fillna('None reported', inplace=True)
/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['clean_title'].fillna(clean_title_mode, inplace=True)
/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:62: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(df['horsepower'].median(), inplace=True)
/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:63: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['engine_size'].fillna(df['engine_size'].median(), inplace=True)
/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:64: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['num_cylinders'].fillna(df['num_cylinders'].median(), inplace=True)
/Users/brettlill/Library/CloudStorage/OneDrive-Personal/DataScience/Kaggle/Competitions/Playground Season 4 (2024)/S4E09 - Regression of Used Car Prices/workflow/notebooks/preprocessing.py:79: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['num_speeds'].fillna(df['num_speeds'].median(), inplace=True)

In [5]:
train_set_processed_file_path = "../data/processed/train.csv"
test_set_processed_file_path = "../data/processed/test.csv"

In [6]:
print("Export training set")
train_data.to_csv(train_set_processed_file_path, index = False)

print("Export test set")
test_data.to_csv(test_set_processed_file_path, index = False)

Export training set
Export test set

In [7]:
train_data.head()

,brand,model,milage,fuel_type,ext_col,int_col,accident,log_price,age,horsepower,engine_size,num_cylinders,transmission_type,num_speeds
0,mini,cooper s base,213000,gasoline,yellow,gray,0,8.343078,17,172.0,1.6,4.0,automatic,7.0
1,lincoln,other,143250,gasoline,silver,beige,1,8.517193,22,252.0,3.9,8.0,automatic,7.0
2,chevrolet,other,136731,e85 flex fuel,blue,gray,0,9.539716,22,320.0,5.3,8.0,automatic,7.0
3,genesis,other,19500,gasoline,black,black,0,10.714440,7,420.0,5.0,8.0,manual,7.0
4,mercedes-benz,metris base,7388,gasoline,black,beige,0,11.487618,3,208.0,2.0,4.0,automatic,7.0

In [8]:
test_data.head()

,id,brand,model,milage,fuel_type,ext_col,int_col,accident,age,horsepower,engine_size,num_cylinders,transmission_type,num_speeds
0,188533,land,other,98000,gasoline,white,beige,0,9,240.0,2.0,4.0,automatic,6.0
1,188534,land,rover defender se,9142,hybrid,silver,black,0,4,395.0,3.0,6.0,automatic,8.0
2,188535,ford,expedition limited,28121,gasoline,white,ebony,0,2,328.0,3.5,6.0,automatic,10.0
3,188536,audi,other,61258,gasoline,other,black,0,8,328.0,3.5,6.0,automatic,7.0
4,188537,audi,a6 2.0t premium plus,59000,gasoline,gray,black,0,6,252.0,2.0,4.0,automatic,7.0